$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$icon-color: tomato;
$nav-color: rgb(209, 61, 7);

body {
  font: 100% $font-stack;
  color: $primary-color;
  min-height:100%;
  margin: 0;
  padding-top: 0;
  display: grid;
  grid-template-rows: 4em 5fr 5em;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 0;
}

header {
  display: grid;
  grid-area: header;
  margin-top: 0;
  background-color: $nav-color;
  color: white;

  .nav {
    top:0;
    width: 100%;
    margin-top: 0;
    overflow: auto;
  }
  
  .navMenu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 2em;
  
    li {
      padding: 20px;
      font-size: 0.8em;
      margin-right: 1em;
    }
  
    a {
      text-decoration: none;
      color: white;
    }
  
    .push {
      margin-right: auto;
      padding-left: 0em;
    }
  }

}

main {
  grid-area: main;
  padding: 1em 2em;
  

/*   grid-template-rows: 3em 0.5fr 2fr 1fr 0.5fr 0.5fr; */

}

h3:target {
  background-color: $nav-color;
  color: #fff;
  padding: 5px;
 }

.objective {
   /* border: solid 1px green; // TEST
  h3, div { border: 1px solid red; } // TEST */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title    title     title"
    "synopsis skills    softSkills"
    "synopsis interests languages";
  grid-gap: 2em;

  .title {
    grid-area: title;
    margin: 0;
  }

  .synopsis {
    grid-area: synopsis;

    img {
      width: 45%;
    }
  
    p {
      text-align: justify;
      padding-top: 1em;
    }

    .cv img {
      width: 10%;
    }
  }

  .skills {
    grid-area: skills;
  }

  .softSkills {
    grid-area: softSkills;
  }

  .interests {
    grid-area: interests;
  }

  .languages {
    grid-area: languages;
  }

  p {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
    padding-left: 1em;

    li {
      padding-left: -2em;
    }
  }

}

.portfolio {

/*   border: solid 1px green;//TEST */

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
/*     border: solid 1px blue;//TEST */


    div {
      border: solid 1px orangered;//TEST
      text-align: center;
      /* display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap; */
      width: 7em;
      height: 7em;
      margin-bottom: 1em;
      padding: 1em;

      i {
        color: $icon-color;
        font-size: 1.5em;
        padding-bottom: 0.5em;
      }

      a {
        text-decoration: none;
        color: $icon-color;
      }

      p {
        font-size: 0.9em;
      }
    }
  }
}

.nackademin {
  a {
    text-decoration: none;
    color: $icon-color;
  }
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 30% 70%;
  width: 100%;
  max-height: 100%;
  bottom: 0;

  h3 {
    font-size: 1em;
  }

  .links {
/*     border: solid 1px grey;//TEST */
    padding-left: 2em;

    i {
      color: $icon-color;
      padding-right: 1em;
      font-size: 1.2em;
    }
  }
  .contact {
    /* border: solid 1px green;//TEST */
    padding-left: 2em;
    padding-bottom: 1em;
    
    a {
      color: $icon-color;
      text-decoration: none;
    }
  }
} 


@media only screen and (max-width: 960px) {
  .navMenu li {
    font-size: 0.7em;
    padding: 0;
  }

  .objective {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title    title"
      "synopsis softSkills"
      "synopsis interests"
      "skills   languages";
    grid-gap: 1.5em;  
  }
} 

@media only screen and (max-width: 640px) {
  .objective {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "synopsis"
      "skills" 
      "softSkills"
      "interests" 
      "languages";
    grid-gap: 1em;
  }
  .footer {
    .links,
    .contact {
      padding-left: 1em;

      i {
        padding-right: 0.5em;
        font-size: 1em;
      }

      a {
        font-size: 0.8em;
      }
    }
  }
}
